@import "tailwindcss";

@theme {
  --color-primary: #101010;
  --color-secondary: #202020;
  --color-accent: #C6F135; /* Ola-like green/yellow */
  --color-text-main: #FFFFFF;
  --color-text-muted: #A0A0A0;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text-main);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Leaflet map z-index fix */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}
